* {
   padding: 0;
   margin: 0;
   border: 0;
 }
 
 *, *:before,*:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 
 :focus, :active {outline: none;}
 
 a:focus, a:active {outline: none;}
 
 nav, footer, header, aside {display: block;}
 
 html, body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
 }
 
 input, button, textarea {font-family: inherit;}
 
 input::-ms-clear {display: none;}
 
 button {cursor: pointer;}
 
 button::-moz-focus-inner {
   padding: 0;
   border: 0;
 }
 
 a, a:visited {text-decoration: none;}
 
 a:hover {text-decoration: none;}
 
 ul li {list-style: none;}
 
 img {vertical-align: top;}
 
 h1, h2, h3, h4, h5, h6 {
   font-size: inherit;
   font-weight: 400;
 }

 /* ---------------- ALL STYLE ----------------- */

.my__font{
   font-family: 'Exo 2', sans-serif;
   font-family: 'PT Sans Caption', sans-serif;
}
.main__title{
   font-family: 'Exo 2', sans-serif;
   font-weight: 700;
   font-size: 48px;
   color: #fff;
}
.under__main__title{
   font-family: 'PT Sans Caption', sans-serif;
   font-weight: normal;
   font-size: 24px;
   color: #fff;

}
.nav_font{
   font-family: 'PT Sans Caption', sans-serif;
   font-weight: 500;
   font-size: 20px;
  
}
.font__title{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   font-weight: 600;
}
.font__text__title{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   font-weight: 600;
}
.font__text{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: 500;
}
.wrapper{
   max-width: 1200px;
   margin: 0 auto;
   padding:0 20px ;
}

/* -----HEADER BANNER ------ */
.header__baner{
   background-image: url(../img/baner.png);
   background-repeat: no-repeat;
   background-position: center;
   height: 800px;
}
.header__banner__title {
   padding-top: 160px;
   text-align: center;
   width: 80%;
   margin:0 auto;
   line-height: 65px;
}

.header__banner__text {
   padding-top: 30px;
   width: 60%;
   margin:0 auto;
   line-height: 30px;
   text-align: center;
}
.header__baner__border__text {
   width: 80%;
   display: flex;
   justify-content: center;
   margin: 120px auto;
}
.border__text {
   position: relative;
   width: 251px;
   margin-left: 60px;   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.border__text__img {
   position: absolute;
}
.border__text__number{
   margin-bottom: 15px; 
}
.border__text__text{
   text-align: center;
}

nav{
   border-bottom: 1px solid #AEAEAE;
   width: 100%;
   position: relative;
   
}
.nav{
   display: flex;
   justify-content: flex-end;
}
.nav li{
   padding: 30px 20px;
}
.nav a{
   color:#000;
   }
.nav a:hover{
color:#FFAF3D;
}
.header__burger{
   display: none;
}

/* ------- INFO  SERVICES ------- */

.info {
   display: flex;
   flex-direction: column;
   
   
}
.info__studio {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 425px;
}
.info__stidio__title {
   width: 20%;
}
.info__studio__text__block{
   position: relative;
   width: 80%;
   display: block;
}
.info__studio__img{
   position: absolute;
   width: 80%;
   top: -48px;
   left: 0;
}
.info__studio__img img{
   width: 100%;
}
.info__studio__text {
 width: 90%;
 padding-left:80px;
 line-height: 25px;
}
.info__services {
   display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.info__services__block {
   width: 30%;
   display: flex;
   flex-direction: column;
}
.info__services__block__img {
}
.info__services__block__title {
   padding-top: 10px;
   font-weight: 600;
}
.info__services__block__text {
   padding-top: 15px;
   font-size: 14px;
   line-height: 20px;
}
.info__studio__footer {
   display: none;
}
.info__studio__footer__price {
}
.info__studio__footer__arrow {
}

/* -----CREDO COMPANY------ */
.cred__banner{
   background-image: url('../img/laptop_background.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size:auto 100% ;
   height: 560px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 100px;
   position: relative;
   z-index: -1;
}
.credo__title {
   text-align: center;
}
.credo__text {
   text-align: center;
   padding-top: 65px;
}

/* -----DEVELOPMEN------ */

.devlopment{
}
.development__title {
   position: relative;
}
.development__title__text{
   color: #fff;
   padding: 70px 0px 0px 110px;
}
.development__title__img{
   position: absolute;
   top: -50px;
   z-index: -1;
   width: 566px;
}
.development__title__img img{
   width: 100%;
}


.development__price {
   display: flex;
   justify-content: flex-start;
   margin: 50px 0px 0px 50px;
}
.development__price__block {
  position: relative;
  width: 365px;
  
  margin-right: 20px;
   
}

.development__price__block__img{   
   position: absolute;
   z-index: -1;
  
}
.development__price__block__img img{
   width: 100%;
   height: 320px;
}
.development__price__block__name {
   font-family: 'Exo 2', sans-serif;
   font-family: 'PT Sans Caption', sans-serif;
   color: white;
   font-size: 50px;
   font-weight: 900;
   letter-spacing: 10px;
   text-shadow: black;
   margin-left: 40px;
   padding: 60px 0px 20px 0px;
   width: 80%;
   border-bottom: 2px solid #fff;
}
.development__price__block__link {
   display: flex;
   justify-content: space-between;
   width: 80%;
   margin: 50px auto;
}
.development__price__block__link__price {
   border: 2px solid #fff;
   width: 200px;
   height: 50px;
   padding: 15px;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 24px;
   font-weight: 500;
}
.development__price__block__link__arrow {   
   align-self:center;
}
/* ----- ADD BLOCK ----- */

.add__block {
   display: flex;
   margin-top: 100px;
}
.add__block__text {
   background-image: url(../img/BE\ THE\ FIRST.svg);
   background-repeat: no-repeat;
   background-size: 80% auto;
   width: 60%;
}
.add__block__text__title {
   padding: 15px 0px 0px 65px;
   text-transform: uppercase;
}
.add__block__text__text {
   width: 80%;
  padding:15px 0px 0px 65px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
   line-height: 32px;
}
.add__block__img {
   width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;

}
.add__block__img__google {
   width: 210px;
}
.add__block__img__google img{
   width: 100%;
}
.add__block__img__yndex {
   margin-top: 40px;
   width: 210px;
}
.add__block__img__yndex img{
   width: 100%;
}

/* -----OUR__PROJECT------ */

.our__project {
   margin-top: 100px;
   display: flex;
   flex-direction: column;
}
.our__project__title {
   background-image: url(../img/our_project/OUR_PROJECTS.png);
   background-repeat: no-repeat;
   background-size: 50%;
   background-position: center;
   background-color: #2B2E65;
   height: 120px;
   color: #fff;
   text-align: center;
   text-shadow: black;
   padding-top: 30px;

}
.our__project__img {
   display: flex;
   justify-content: center;
   width: 100%;
}
.our__project__img__left {
   display: flex;
   flex-direction: column;
}
.our__project__img__left__top {
   width: 100%;
}
.our__project__img__left__top img{
   width: 100%;
}

.our__project__img__left__bottom {
   width: 100%;
   
}
.our__project__img__left__bottom img{
   width: 50%;
   height: 300px;
}
.our__project__img__left__bottom img:last-child{
   width: 49%;
}


.our__project__img__right {
   display: flex;
   flex-direction: column;
}


.our__project__img__right__top{
   width: 100%;
}
.our__project__img__right__top img{
   width: 100%;
}

.our__project__img__right__bottom {
   width: 100%;
   
}
.our__project__img__right__bottom img{
   width: 50%;
   height: 303px;
}
.our__project__img__right__bottom img:last-child{
   width: 49%;
}
.our__project__more{
   background-color: #2B2E65;
   height: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.our__project__more a{
   background: rgba(255,255,255, 0.5);
   color: #fff;
   text-align: center;
   padding: 20px 30px;
   border-radius: 10px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 24px;
   
}

/* -----ADAPTIVE------ */

.adaptive {
   margin-top: 100px;
   display: flex;
   position: relative;
}
.adaptive__text{
   width: 50%;
}
.adaptive__text__title {
   background-image: url(../img/ADAPTATE.png);
   background-repeat: no-repeat;
   background-size: 80%;   
   padding: 15px 0px 20px 65px;

}
.adaptive__text__text {
   padding:15px 0px 0px 65px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
   line-height: 32px;
}
.adaptive__img {
   position: absolute;
   right: 0px;
   top: 50px;
   width: 40%;
}
.adaptive__img img{
   width: 100%;
}

/* -----TRADE_IN----- */

.trade__in {
   margin-top: 150px;
   background-image: url(../img/tradeInFone.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   display: flex;
   flex-direction: column;
}
.trade__in__title {
   text-align: center;
   text-transform: uppercase;
   color: #fff;
   padding-top: 60px;
   font-weight: 700;
   text-shadow: black;

}
.trade__in__all__block{
   display: flex;
   justify-content:space-between;
   padding-top: 100px;
   width: 100%;
}
.trade__in__block{
   width: 30%;
}
.trade__in__block__title {
   display: flex;
   padding-bottom: 20px;
   height: 70px;
}
.trade__in__block__title__t{
   font-family: 'PT Sans Caption', sans-serif;
   align-self: center;
   color: #fff;
   font-weight: 800;
   padding-left: 20px;
}
.trade__in__block__title__img {
   width: 70px;
}
.trade__in__block__title__img img {
   width: 100%;
}
.trade__in__block__text {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   line-height: 20px;
   color: #fff;
   padding-top: 40px;
}
.trade__in__button{
   background-color: #FFAF3D;
   width: 330px;
   text-align: center;
   margin: 80px auto;
   padding:25px;
   border-radius: 10px;
}

.trade__in__button a{
   color: #fff;
   font-weight: 700;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   padding:25px;
   width: 100%;
}

/* ------ BE CAREFUL ------ */

.be__careful {
   margin-top:100px;
}
.be__careful__blocks {
   display: flex;
   justify-content: space-between;
}
.be__careful__blocks__left {
   width: 50%;
}
.be__careful__blocks__left__title {
   background-image: url(../img/BE_CAREFUL.png);
   background-repeat: no-repeat;
   background-size: 80%;
   padding: 15px 0px 10px 50px;
   text-transform: uppercase;

}
.be__careful__blocks__left__text{
   padding: 5px 0px 10px 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
   line-height: 32px;
}

.be__careful__blocks__right {
   width: 50%;
}
.be__careful__blocks__right__img {
   width: 80%; 
   margin: 0 auto;
}
.be__careful__blocks__right__img img{
   width: 100%; 
}
/* ------ FORMS ----- */
.forms {
   background-image: url(../img/background__forms.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100% 100%;
}
.forms__blocks {
   display: flex;
   justify-content: space-between;
   padding: 130px 0px 100px 0px;
}

.forms__blocks__left {
   width: 50%;
}
.forms__blocks__left__title {
   text-transform: uppercase;
   color: #fff;
   text-shadow: 1px 1px 2px black;
}
.forms__blocks__left__text {
   padding-top: 45px;
   color: #fff;
   width: 80%;
   font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
   line-height: 32px;
}
/* --------FORMA-------- */

.forms__blocks__right {
   width: 50%;
   margin: 0 auto;
}

.forms__blocks__right__block{
   border: 2px solid #fff;
}

.forms__blocks__right__name{
   display: flex;
   border-bottom: 2px solid #fff;
}

input{
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
   line-height: 32px;
}

input::placeholder{
   color: white;
   padding: 10px;
}

input[type=name]{
   width: 49.7%;
   height: 50px;   
   color: black;
   background-color: transparent;
   color: #fff;
   padding: 10px;
}

input[type=name]:first-child{
   border-right: 2px solid #fff;
}

.forms__blocks__right__email{
   border-bottom: 2px solid #fff;
}

input[type=email]{
   margin-top: 10px;
   background-color: transparent;
   color: #fff;
   padding-left: 10px;
}


textarea{
   width: 100%;
   background-color: transparent;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
   line-height: 32px;
   padding: 10px;
   resize: none;
   height: 163px;
}
textarea::placeholder{
   color: #fff;
   padding-left: 10px;
   
}
.forms__blocks__right__submit{
   display: flex;
   margin-top: 20px;
}
.forms__blocks__right__text{
   width: 80%;
   padding-left: 25px;
   color: #fff;
}
.forms__blocks__right__submit input{
   width: 140px;
   height: 45px;
   color: #fff;
   background-color: #FFAF3D;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 14px;
   border-radius: 15px;
}